<!-- /.wrapper -->
<footer class="dark-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <div class="widget">
                    <img src="#" srcset="style/images/logo-light.png 1x, style/images/logo-light@2x.png 2x" alt=""
                        style="max-height: 40px;" />
                    <div class="space40"></div>
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->
            <div class="col-md-4 col-lg-3">
                <div class="widget">
                    <h3 class="widget-title">Jam Kerja</h3>
                    <address>(Senin-Sabtu) 09:00 – 18:00 WIB</address>
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->
            <div class="col-md-4 col-lg-3">
                <div class="widget">
                    <h3 class="widget-title">Whatsapp</h3>
                    <address>+62 838 7760 7433</address>
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->
            <div class="col-md-4 col-lg-3">
                <div class="widget">
                    <h3 class="widget-title">Email</h3>
                    <address>info@gamsindonesia.com</address>
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->

        </div>
        <!--/.row -->
            <div class="container d-flex justify-content-center mt-5">
                <a href="https://facebook.com/generasianakmudasukses"> <i class="fab fa-facebook-f border border-white icon-footer p-2 mr-2 fa-1x" style="color: black;"></i></a>
                <a href="https://instagram.com/gamsindonesia"><i class="fab fa-instagram border border-white icon-footer p-2 mr-2" style="color: black;"></i></a>
                <a href="https://wa.me/6283877607433"> <i class="fab fa-whatsapp border border-white icon-footer p-2 mr-2" style="color: black;"></i></a>
                <a href=""><i class="fab fa-youtube border border-white icon-footer p-2" style="color: black;"></i></a>
            </div>
                <div class="d-flex justify-content-center">
                    <i class="text-muted mt-4">©Copyright 2020 – GAMS Indonesia, All Rights Reserved </i>
            </div>
        </div>
    <!-- /.container -->
</footer>