      <!-- Navbar -->
    <section>
        <nav class="navbar fixed-top nav-back navbar-expand-lg navbar-light bg-light d-flex bd-highlight mb-3">
            <div class="container nav-text-item">
            <a class="navbar-brand" href="#">Generasi Anak Muda Sukses </a>
                {{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> --}}
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item px-5 py-3">
                            <a class="nav-link" href="free.html">9 Free Video</a>
                        </li>
                        <li class="nav-item px-5 py-3">
                            <a class="nav-link" href="#">Join Member</a>
                        </li>
                        <li class="nav-item px-5 py-3">
                            <a class="nav-link" href="#" >Member Login</a>
                        </li>
                    </ul>
                </div>
            </div>
          </nav>
    </section>
    {{!-- End --}}