<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/style/images/logo.png">
    <title>{{{title}}}</title>
    <!-- Bootstrap CSS -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="./pure/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./pure/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="./pure/css/bootstrap.min.css">

    <!-- My CSS -->
    <link rel="stylesheet" href="/pure/css/free.css">
    <!-- Fontawesome -->
    {{!-- <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> --> --}}
    <link rel="stylesheet" type="text/css" href="/pure/css/all.css">
    <link rel="stylesheet" type="text/css" href="/pure/css/style.css">
    <link rel="stylesheet" type="text/css" href="/pure/css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="/pure/css/svg-with-js.css">
    <link rel="stylesheet" type="text/css" href="/pure/css/solid.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <title>{{{title}}}</title>
</head>
</head>

<body style="background-color: #fff;">
    <div class="c">


        {{{body}}}


        {{> footerlanding}}


    </div>
    <!-- /.content-wrapper -->
    {{!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script> --}}
    <script src="/style/js/jquery.min.js"></script>
    <script src="/style/js/bootstrap.min.js"></script>
    {{!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script> --}}
    <script src="https://kit.fontawesome.com/9281291cd5.js" crossorigin="anonymous"></script>
    <script src="/assets/vendors/sweetalert2/sweetalert2.min.js"></script>
    <script src="/pure/js/my.js"></script>
</body>

</html>