<div class="page-wrapper full-page">
    <div class="page-content d-flex align-items-center justify-content-center">

        <div class="row w-100 mx-0 auth-page">
            <div class="col-md-8 col-xl-8 mx-auto">
                <div class="card col-md-8 mx-auto">
                    <div class="row">
                        <div class="col-md-12 pl-md-0">
                            <div class="auth-form-wrapper px-4 py-5">
                                <a href="#" class="noble-ui-logo d-block mb-2">GAMS<span>Indonesia</span></a>
                                <div class="jumbotron">
                                    <h1 class="display-4">Ooops!</h1>
                                    <p class="lead">Kami tidak dapat menemukan tautan yang anda inginkan.</p>
                                    <hr class="my-4">
                                    <p>Silahkan mencoba tautan lain, atau kontak Customer Care GAMS Indonesia.</p>
                                    <a class="btn btn-primary btn-sm" href="{{baseURL}}" role="button">Kembali</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>