<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-10 pt-4">
            <img src="/{{data.thumbnail}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">{{data.title}}</h4>
                <div class="pt-2">
                    {{{data.content}}}
                </div>
            </div>
        </div>
    </div>
</div>