<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h5 class="text-center pb-2">Total Pesonal Sales</h5>
                <h4 class="text-center pb-2">Rp. 0</h4>
                <h6 class="text-center pb-2">History Commission & Personal Sales</h6>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card text-white bg-secondary mb-3">
                            <div class="card-body text-right">
                                <h5 class="card-title text-right text-white">Referral Commission (Basic)</h5>
                                <h4 class="mt-2">Rp . 0</h4>
                                <h6 class="mt-2">Member Baru: </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card text-white bg-secondary mb-3">
                            <div class="card-body text-right">
                                <h5 class="card-title text-right text-white">Referral Commission (Premium)</h5>
                                <h4 class="mt-2">Rp . 0</h4>
                                <h6 class="mt-2">Member Baru: </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card text-white bg-info mb-3">
                            <div class="card-body text-right">
                                <h5 class="card-title text-right text-white">Personal Sales Commission (Basic)</h5>
                                <h4 class="mt-2">Rp . 0</h4>
                                <h6 class="mt-2">Omset: </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card text-white bg-info mb-3">
                            <div class="card-body text-right">
                                <h5 class="card-title text-right text-white">Personal Sales Commission (Premium)</h5>
                                <h4 class="mt-2">Rp . 0</h4>
                                <h6 class="mt-2">Omset: </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card text-white bg-success mb-3">
                            <div class="card-body text-right">
                                <h5 class="card-title text-right text-white">Total</h5>
                                <h4 class="mt-2">Rp . 0</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>