{{!-- Overlay - 1 --}}
<section style="color: #e5e5e5;">
    {{!-- <div class="overlay"> --}}
    <div class="bg-jumbo-3 jumbotron jumbotron-fluid text-center ">
        <div class="container">
            <div style="font-weight: 700 !important;">
                <div class="h6 pb-3" style="letter-spacing: 6px;">- Halaman Pendaftaran Member GAMS -</div>
                <div class="h2 py-5 px-3 font-weight-bold font-italic" style="line-height: 1.5;">Dengan Segudang
                    Keuntungan dan Fasilitas Tak Ternilai dari GAMS Kira-kira berapa biaya Investasi yang harus Anda
                    keluarkan?</div>
                <div class="h3 pb-3 font-weight-bold font-italic" style="color: #06B1CE; ">50 Juta? 10 Juta? 5 Juta?
                </div>
                <div class="h2 py-3 px-1 font-weight-bold font-italic">Karena kami percaya Anda benar-benar serius ingin
                    bergabung bersama kami namun Anda memiliki keterbatasan dana</div>
            </div>
        </div>
    </div>
    {{!-- </div> --}}
</section>

<section>
    <div class="jumbotron jumbotron-fluid " style="background: #fff;">
        <div class="container">
            <p class="lead text-center" style="font-weight: 600; font-size:x-large">MAKA KAMI ANGGAP BIAYA INVESTASI
                YANG ANDA PERLU KELUARKAN HANYA SEBAGAI </p>
            <h3 class="text-center font-italic" style="color: #ce0606;">Commitment Fee</h3>
        </div>
    </div>
</section>

{{!-- Overlay - 2 --}}
<section style="color: #e5e5e5;">
    {{!-- <div class="overlay"> --}}
    <div class="bg-jumbo-4 jumbotron jumbotron-fluid text-center ">
        <div class="container">
            <div style="font-weight: 700 !important;">
                <div class="h2 px-3 text-uppercase">Special untuk anda yang daftar sekarang!</div>
                <div class="h5">Anda cukup ber-inverstasi</div>
                <div class="h2 pb-3 pt-2" style="color: #FFEC00; ">Rp. 250.000,- SEUMUR HIDUP</div>
                <div class="h5 py-3 font-italic">*Tanpa ada biaya bulanan, tahunan, dan biaya tersembunyi di belakangnya
                </div>
            </div>
        </div>
    </div>
    {{!-- </div> --}}
</section>

{{!-- Countdown --}}
<section>
    <div class="jumbotron text-center bg-light">
        <div class="h3">Lakukan pendaftaran sebelum promo berakhir!</div>
        <span class="display-4" id="countdown"></span>
        {{!-- Disini ditaro countdown --}}
    </div>
</section>

<section style="color:white;">
    <div class="bg-jumbo-5 jumbotron text-center bill-overlay">
        <div class="h1">Segera Anda selesaikan proses Membership Anda sekarang, agar bisa lebih cepat merasakan HASIL
            dari dunia digital.</div>
    </div>
</section>

{{!-- Billig Form --}}
<section>
    <div class="container col-sm-6 shadow-lg rounded p-3 mb-5">
        <h3 class="mt-3">Billing Form GAMS</h3>
        {{!-- <form id="formRegister" action="" method="POST" enctype="application/x-www-form-urlencoded"> --}}
        <form id="formRegister" class="p-3">
            <div class="form-group">
                <label for="formGroupExampleInput">Nama Anda</label>
                <input type="text" name="fullName" class="form-control" placeholder="Nama Anda" required>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Email Anda</label>
                <input type="text" name="email" class="form-control" placeholder="Email Anda" required>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">No. Whatsapp Anda</label>
                <input type="text" name="phone" class="form-control" placeholder="No. Whatsapp Anda" required>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Kota</label>
                <input type="text" name="city" class="form-control" placeholder="Kota Anda" required>
            </div>
            <!-- Button trigger modal -->
            <button type="submit" class="btn btn-primary">
                Kirim
            </button>
        </form>
    </div>
</section>

{{!-- FAQ --}}
<section class="faq">
    <div class=" d-flex justify-content-center">
        <div class="col-12 col-sm-12 col-md-6 ">
            <h1 class="h1 text-center pt-4 text-white">Frequently Asked Questions</h1>
            <div class="mb-5">
                <div id="accordion" class="myaccordion col-12 col-sm-12 col-md-12">
                    <div class="card shadow" style="border-radius: 0%; ">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button
                                    class="d-flex align-items-center justify-content-between btn btn-link collapsed text-left"
                                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    APAKAH GAMS HANYA UNTUK ANAK MUDA SAJA?
                                    <span class="fa-stack fa-sm justify-content-end">
                                        <i class="fas fa-stack-2x"></i>
                                        <i class="fas fa-plus fa-stack-1x "></i>
                                    </span>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body text-justify pr-5" style="color:#004987 !important;">
                                Tidak. GAMS diperuntukkan untuk anak-anak muda dan bagi Anda yang sudah merasa berumur
                                namun memiliki semangat seperti anak muda. Jangan minder dengan anak-anak muda. Karena
                                semakin tua seseorang, semakin berpengalaman. Hanya bersama GAMS
                                <br><br><b>SEMUA ORANG DAPAT PENGHASILAN DARI ONLINE</b>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow" style="border-radius: 0%;">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button
                                    class="d-flex align-items-center justify-content-between btn btn-link collapsed text-left"
                                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                                    aria-controls="collapseTwo">
                                    BAGAIMANA CARA BERGABUNG?
                                    <span class="fa-stack fa-sm">
                                        <i class="fas  fa-stack-2x"></i>
                                        <i class="fas fa-plus fa-stack-1x "></i>
                                    </span>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body text-justify pr-5">
                                Sebelumnya apakah Kak sudah menonton video Fasilitas GAMS? Untuk hal pertama yaitu
                                tonton video Fasilitas GAMS sampai selesai, Lalu ketika video nya sudah selesai di
                                tonton, di bawah video Kakak tekan LANGKAH BERIKUTNYA
                            </div>
                        </div>
                    </div>
                    <div class="card shadow" style="border-radius: 0%;">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button
                                    class="d-flex align-items-center justify-content-between btn btn-link collapsed text-left"
                                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                                    aria-controls="collapseThree">
                                    APAKAH SETELAH JOIN AKAN DIBIMBING?
                                    <span class="fa-stack fa-sm">
                                        <i class="fas fa-stack-2x"></i>
                                        <i class="fas fa-plus fa-stack-1x "></i>
                                    </span>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordion">
                            <div class="card-body text-justify pr-5">
                                Iya, Anda akan mendapatkan Full Support 101% . Anda akan dibimbing sampai bisa
                                menghasilkan 5-10 juta/bulan dari Dunia Digital selambat-lambatnya di bulan ke-5. Ada
                                Tim Support yang siap membantu Anda baik secara online (melalui Live Chat, Whatsapp,
                                Webinar, dan lain-lain) maupun offline (melalui event-event Kopdar, Training dan
                                lain-lain) dimana Anda akan langsung dibantu oleh para mentor.
                            </div>
                        </div>
                    </div>
                    <div class="card shadow" style="border-radius: 0%;">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                                <button
                                    class="d-flex align-items-center justify-content-between btn btn-link collapsed text-left"
                                    data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                                    aria-controls="collapseFour">
                                    BAGAIMANA CARA KERJANYA?
                                    <span class="fa-stack fa-sm">
                                        <i class="fas fa-stack-2x"></i>
                                        <i class="fas fa-plus fa-stack-1x"></i>
                                    </span>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body text-justify pr-5">
                                Member sudah di-fasilitasi Website & Landing Page yang telah dilengkapi Fitur Affiliate.
                                Sehingga tugas Anda cukup menyebarkan link Affiliate Anda dengan Ilmu Digital Marketing
                                yang kami ajarkan. Ketika orang melakukan transaksi lewat link Affiliate Anda, Anda
                                berhak mendapatkan komisi. Proses pengiriman barang dan tanya jawab customer, semua kami
                                yang urus.
                            </div>
                        </div>
                    </div>
                    <div class="card shadow" style="border-radius: 0%;">
                        <div class="card-header" id="headingFive">
                            <h2 class="mb-0">
                                <button
                                    class="d-flex align-items-center justify-content-between btn btn-link collapsed text-left"
                                    data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
                                    aria-controls="collapseFive">
                                    APAKAH ADA BIAYA PERBULAN BAGI MEMBER?
                                    <span class="fa-stack fa-sm">
                                        <i class="fas fa-stack-2x"></i>
                                        <i class="fas fa-plus fa-stack-1x "></i>
                                    </span>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body text-justify pr-5">
                                Tidak ada. Jadi ketika Kakak bergabung menjadi member GAMS hanya akan ada 1 kali
                                pembayaran saja di awal untuk menjadi member 1x seumur hidup, dan Kakak akan mendapatkan
                                semua Fasilitas & Tools dari GAMS
                            </div>
                        </div>
                    </div>
                    <div class="card shadow" style="border-radius: 0%;">
                        <div class="card-header" id="headingSix">
                            <h2 class="mb-0">
                                <button
                                    class="d-flex align-items-center justify-content-between btn btn-link collapsed text-left"
                                    data-toggle="collapse" data-target="#collapseSix" aria-expanded="true"
                                    aria-controls="collapseSix">
                                    APAKAH GAMS INDONESIA BISNIS MLM?
                                    <span class="fa-stack fa-sm">
                                        <i class="fas  fa-stack-2x"></i>
                                        <i class="fas fa-plus fa-stack-1x"></i>
                                    </span>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                            <div class="card-body text-justify pr-5" style="color:#">
                                Model bisnis kami bukan MLM, karena kami tidak ada sistem Binary seperti MLM kak. Model
                                bisnis kami menggunakan Affiliate Marketing. Sehingga member bisa mendapatkan komisi
                                baik dari personal sales maupun team sales.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- End --}}