<div class="wrapper dark-wrapper inverse-text">
    <div class="container inner text-center">
        <div class="space90"></div>
        <h1 class="page-title">INGIN MEMULAI BISNIS?</h1>
        <p class="lead">Semua Strategi, Tips dan Step-Step bagaimana memulai bisnis di era digital telah kami rangkum
            dalam 9 video dibawah ini!</p>
    </div>
    <!-- /.container -->
    <div class="space140"></div>
</div>

<div class="wrapper overflow-top">
    <div class="container inner pt-0">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <div class="plyr plyr--full-ui plyr--video plyr--vimeo plyr--fullscreen-enabled">
                    <img src="/style/images/bg-video.jpeg" class="img-fluid" />
                </div>
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="space160"></div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <figure><img src="/style/images/v1.jpeg" alt=""></figure>
            </div>
            <!--/column -->
            <div class="space40 d-lg-none"></div>
            <div class="col-lg-6 pl-60 pl-md-15">
                <h3 class="display-3">1. Pondasi Bisnis Yang Benar</h3>
                <div class="space20"></div>
                <p>Sesuai janji, sebagai rasa terima kasih, kami akan berikan 9 Video Tutorial Gratis ini kepada Anda.

                    Video ini dibuat agar Anda tidak mengalami kegagalan yang sama dengan para pebisnis pada umumnya.
                </p>
                <div class="space10"></div>
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
        <div class="space140"></div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <figure><img src="/style/images/v2.jpeg" alt=""></figure>
            </div>
            <!--/column -->
            <div class="space40 d-lg-none"></div>
            <div class="col-lg-6 pl-60 pl-md-15">
                <h3 class="display-3">2. 3 Alasan Mengapa Harus Mulai Bisnis Digital</h3>
                <div class="space20"></div>
                <p>Yakin mau terus bertahan di dunia offline?

                    Sejak Covid melanda, tercatat jumlah pekerja yang terkena PHK dan dirumahkan mencapai 3 juta orang.

                    Saat-saat seperti ini memang menjadi situasi yang sulit bagi kebanyakan pebisnis, apalagi pebisnis
                    offline.</p>
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
        <div class="space140"></div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <figure><img src="/style/images/v3.jpeg" alt=""></figure>
            </div>
            <!--/column -->
            <div class="space40 d-lg-none"></div>
            <div class="col-lg-6 pl-60 pl-md-15">
                <h3 class="display-3">3. Pentingnya Membuat Model Bisnis Part.1</h3>
                <div class="space20"></div>
                <p>Seberapa penting membuat
                    model bisnis sebelum mulai berbisnis?

                    Membangun model bisnis perlu dimulai dari hal yang paling basic, akan kita bahas di video ini.</p>
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
        <div class="space140"></div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <figure><img src="/style/images/v4.jpeg" alt=""></figure>
            </div>
            <!--/column -->
            <div class="space40 d-lg-none"></div>
            <div class="col-lg-6 pl-60 pl-md-15">
                <h3 class="display-3">4. Pentingnya Membuat Model Bisnis Part.2</h3>
                <div class="space20"></div>
                <p>Membuat Model Bisnis sangat Penting untuk membangun bisnis Anda ke depannya.

                    Pastikan Anda sudah merancang dengan tepat mulai dari awal, karena bila salah, cukup sulit untuk
                    diperbaiki ke depannya. Mari kita bahas lebih dalam!</p>

            </div>
            <!--/column -->
        </div>
        <!--/.row -->
        <div class="space140"></div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <figure><img src="/style/images/v5.jpeg" alt=""></figure>
            </div>
            <!--/column -->
            <div class="space40 d-lg-none"></div>
            <div class="col-lg-6 pl-60 pl-md-15">
                <h3 class="display-3">5. 2 Langkah Membuat Sistem Otomatis Di Bisnis Digital</h3>
                <div class="space20"></div>
                <p>Orderan semakin banyak, namun Anda malah semakin capek, pusing & jadi tidak punya waktu?

                    Mungkin Anda tidak melakukan “Otomatisasi” pada bisnis Anda.</p>

            </div>
            <!--/column -->
        </div>
        <!--/.row -->
        <div class="space140"></div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <figure><img src="/style/images/v6.jpeg" alt=""></figure>
            </div>
            <!--/column -->
            <div class="space40 d-lg-none"></div>
            <div class="col-lg-6 pl-60 pl-md-15">
                <h3 class="display-3">6. Strategy Ampuh Membangun Funnel</h3>
                <div class="space20"></div>
                <p>Anda perlu paham bahwa Funnel adalah salah satu bagian TERPENTING dalam bisnis digital.

                    Salah Bangun Funnel = Boncos! Mau untung di Bisnis Digital tapi masih lemah dalam membangun Funnel?
                    Tenang, akan kita bahas di video ini.</p>

            </div>
            <!--/column -->
        </div>
        <!--/.row -->
        <div class="space140"></div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <figure><img src="/style/images/v7.jpeg" alt=""></figure>
            </div>
            <!--/column -->
            <div class="space40 d-lg-none"></div>
            <div class="col-lg-6 pl-60 pl-md-15">
                <h3 class="display-3">7. 2 Jenis Traffic Dalam Bisnis Digital</h3>
                <div class="space20"></div>
                <p>Traffic yang datang ke toko online FNAME kurang banyak? Atau tidak berkualitas?

                    Kurang Banyak & Tidak Berkualitas = Konversi Rendah

                    Lebih baik lewat mana? Traffic Gratisan atau Traffic Berbayar?</p>

            </div>
            <!--/column -->
        </div>
        <!--/.row -->
        <div class="space140"></div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <figure><img src="/style/images/v8.jpeg" alt=""></figure>
            </div>
            <!--/column -->
            <div class="space40 d-lg-none"></div>
            <div class="col-lg-6 pl-60 pl-md-15">
                <h3 class="display-3">8. 5 Sumber Traffic Untuk Meningkatkan Omset 300%</h3>
                <div class="space20"></div>
                <p>Traffic Anda sudah banyak & berkualitas namun closingan masih rendah? Mungkin CARA MENGOLAH
                    traffic-nya yang belum tepat!

                    Oleh karena itu, selain pahami bagaimana cara mendatangkan traffic, Anda juga perlu paham cara
                    mengolah traffic menjadi database</p>

            </div>
            <!--/column -->
        </div>
        <!--/.row -->
        <div class="space140"></div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <figure><img src="/style/images/v9.jpeg" alt=""></figure>
            </div>
            <!--/column -->
            <div class="space40 d-lg-none"></div>
            <div class="col-lg-6 pl-60 pl-md-15">
                <h3 class="display-3">9. Content Is The King</h3>
                <div class="space20"></div>
                <p>Apakah Bisnis Anda sudah memiliki banyak konten yang berkualitas?
                    Atau jangan-jangan konten Anda memang tidak “kena” ke calon target marketnya?

                    Mana yang lebih penting? Copywriting, Gambar atau Video?</p>

            </div>
            <!--/column -->
        </div>
        <!--/.row -->
        <div class="space140"></div>

    </div>
    <!-- /.container -->
</div>


<div class="wrapper overflow-top">
    <div class="container inner pt-0 pb-30">

        <!--/.pricing-wrapper -->
        <div class="space160"></div>
        <h2 class="title-color color-gray text-center">FAQ</h2>
        <h3 class="display-3 text-center">HINDARI 5 PENYEBAB KEGAGALAN PADA BISNIS</h3>
        <div class="space40"></div>
        <div class="row">
            <div class="col-lg-6 mb-0">
                <div id="accordion-1" class="accordion-wrapper">
                    <div class="card shadow">
                        <div class="card-header" id="accordion-heading-1-1">
                            <h5>
                                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-1-1"
                                    aria-expanded="false" aria-controls="accordion-collapse-1-1">PRODUK TIDAK
                                    COCOK.</button>
                            </h5>
                        </div>
                        <!-- /.card-header -->
                        <div id="accordion-collapse-1-1" class="collapse" aria-labelledby="accordion-heading-1-1"
                            data-target="#accordion-1">
                            <div class="card-body">
                                <p>Kebanyakan orang yang sudah memiliki produk salah dalam menentukan Niche Marketnya.
                                    Memilih niche yang salah atau produk yang tidak tepat mengartikan Anda telah gagal
                                    sebelum memulai.</p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.collapse -->
                    </div>
                    <!-- /.card -->
                    <div class="card shadow">
                        <div class="card-header" id="accordion-heading-1-2">
                            <h5>
                                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-1-2"
                                    aria-expanded="false" aria-controls="accordion-collapse-1-2">MODEL BISNIS TIDAK
                                    TEPAT.</button>
                            </h5>
                        </div>
                        <!-- /.card-header -->
                        <div id="accordion-collapse-1-2" class="collapse" aria-labelledby="accordion-heading-1-2"
                            data-target="#accordion-1">
                            <div class="card-body">
                                <p>Katakanlah Anda ingin memulai sebuah bisnis. Model bisnis apa yang akan Anda gunakan?
                                    Jika Anda belum mampu menjawabnya, mungkin usaha Anda belum memiliki konsep bisnis
                                    yang jelas. Padahal, menentukan model bisnis sangat penting agar bisnis dapat terus
                                    berkembang.</p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.collapse -->
                    </div>
                    <!-- /.card -->
                    <div class="card shadow">
                        <div class="card-header" id="accordion-heading-1-3">
                            <h5>
                                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-1-3"
                                    aria-expanded="false" aria-controls="accordion-collapse-1-3">MARKETING TIDAK
                                    CAKAP.</button>
                            </h5>
                        </div>
                        <!-- /.card-header -->
                        <div id="accordion-collapse-1-3" class="collapse" aria-labelledby="accordion-heading-1-3"
                            data-target="#accordion-1">
                            <div class="card-body">
                                <p>Kesuksesan sebuah bisnis sangat tergantung dari bagiamana kesuksesan marketing.
                                    Sehingga bisa dikatakan sehebat apapun produk yang Anda miliki, jika tidak dibarengi
                                    dengan marketing, maka tidak akan menjadi apa – apa.</p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.collapse -->
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.accordion-wrapper -->
            </div>
            <!--/column -->
            <div class="col-lg-6">
                <div id="accordion-2" class="accordion-wrapper">
                    <div class="card shadow">
                        <div class="card-header" id="accordion-heading-2-1">
                            <h5>
                                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-1"
                                    aria-expanded="false" aria-controls="accordion-collapse-2-1">KURANG
                                    INOVASI.</button>
                            </h5>
                        </div>
                        <!-- /.card-header -->
                        <div id="accordion-collapse-2-1" class="collapse" aria-labelledby="accordion-heading-2-1"
                            data-target="#accordion-2">
                            <div class="card-body">
                                <p>Inovasi dalam bisnis adalah warna dalam bisnis itu sendiri. Tanpa melakukan inovasi,
                                    bisnis akan terasa tidak menarik dan kurang diminati.</p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.collapse -->
                    </div>
                    <!-- /.card -->

                    <div class="card shadow">
                        <div class="card-header" id="accordion-heading-1-4">
                            <h5>
                                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-1-4"
                                    aria-expanded="false" aria-controls="accordion-collapse-1-4">MANAJEMEN KEUANGAN
                                    BERANTAKAN.</button>
                            </h5>
                        </div>
                        <!-- /.card-header -->
                        <div id="accordion-collapse-1-4" class="collapse" aria-labelledby="accordion-heading-1-4"
                            data-target="#accordion-1">
                            <div class="card-body">
                                <p>Sayangnya, banyak orang yang tidak menyadari kalau keuangannya mulai berantakan
                                    sehingga mereka tidak menyikapi dengan serius. Padahal, jika tidak segera
                                    diantisipasi, akan semakin banyak kerepotan yang timbul.</p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.collapse -->
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.accordion-wrapper -->
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->


    <div class="space30">
    </div>
    <div class="box shadow p-60 image-wrapper bg-full bg-image inverse-text rounded d-md-flex align-items-md-center justify-content-md-between"
        data-image-src="style/images/art/bg6.jpg" style="background-image: url(&quot;style/images/art/bg6.jpg&quot;);">
        <h3 class="display-3 mb-0">Sudah 7.315 orang belajar bersama kami & merasakan manfaatnya.</h3>
        <div class="space30 d-md-none"></div>
        <a href="/auth/signup" class="btn btn-white btn-strong-hover mb-0">Gabung Sekarang</a>
    </div>
</div>