<body>
  <section>
    <div class="jumbotron bg-jumbo1 jumbotron-fluid">
      <div class="container d-flex justify-content-center">
        <h1 class="jumbotron-h1">HINDARI 5 PENYEBAB KEGAGALAN PADA BISNIS</h1>
      </div>
      <div class="container">
        <strong class="d-flex justify-content-center text-center font-weight-bold">Pebisnis Online, apakah anda
          melakukan kesalahan-kesalahan ini
          dalam berbisnis??</strong>
      </div>
    </div>
  </section>

  <!-- {{!-- Card --}} -->
  <section>
    <!-- <div class="container" > -->
    <div class="row mx-sm-3 mx-md-5 justify-content-center">
      <!-- Satu card besar -->
      <div class="col-10 col-md-6 col-sm-9 mb-3">
        <div class="row">
          <div class="col-lg-2 col-md-3 col-sm-3 align-self-start text-center p-3">
            <i class="fas fa-box-open fa-2x border border-primary text-primary rounded-circle p-3"></i>
            <!-- disini taro icon -->
          </div>
          <div class="col-lg-10 col-md-9 col-sm-9 mb-3 p-3">
            <h4>PRODUK TIDAK COCOK</h4>
            <p class="card-text text-justify">Kebanyakan orang yang sudah memiliki produk salah dalam menentukan Niche
              Marketnya. Memilih niche yang salah atau produk yang tidak tepat mengartikan Anda telah gagal sebelum
              memulai.</p>
          </div>
        </div>
      </div>

      <!-- Card kedua -->
      <div class="col-10 col-md-6 col-sm-9 mb-3">
        <div class="row">
          <div class="col-lg-2 col-md-3 col-sm-3 align-self-start text-center p-3">
            <i class="fas fa-project-diagram fa-2x border border-primary text-primary rounded-circle p-3"></i>
            <!-- disini taro icon -->
          </div>
          <div class="col-lg-10 col-md-9 col-sm-9 mb-3 p-3">
            <h4>MODEL BISNIS TIDAK TEPAT</h4>
            <p class="card-text text-justify">Katakanlah Anda ingin memulai sebuah bisnis. Model bisnis apa yang akan
              Anda gunakan? Jika Anda belum mampu menjawabnya, mungkin usaha Anda belum memiliki konsep bisnis yang
              jelas. Padahal, menentukan model bisnis sangat penting agar bisnis dapat terus berkembang.</p>
          </div>
        </div>
      </div>
      {{!-- Card ketiga --}}
      <div class="col-10 col-md-6 col-sm-9 mb-3">
        <div class="row">
          <div class="col-lg-2 col-md-3 col-sm-3 align-self-start text-center p-3">
            <i class="fas fa-chart-line fa-2x border border-primary text-primary rounded-circle p-3"></i>
            <!-- disini taro icon -->
          </div>
          <div class="col-lg-10 col-md-9 col-sm-9 mb-3 p-3">
            <h4>MARKETING TIDAK CAKAP</h4>
            <p class="card-text text-justify">Kesuksesan sebuah bisnis sangat tergantung dari bagiamana kesuksesan
              marketing. Sehingga bisa dikatakan sehebat apapun produk yang Anda miliki, jika tidak dibarengi dengan
              marketing, maka tidak akan menjadi apa – apa.</p>
          </div>
        </div>
      </div>
      {{!-- Card keempat --}}
      <div class="col-10 col-md-6 col-sm-9 mb-3">
        <div class="row">
          <div class="col-lg-2 col-md-3 col-sm-3 align-self-start text-center p-3">
            <i class="fas fa-money-check-alt fa-2x border border-primary text-primary rounded-circle p-3"></i>
            <!-- disini taro icon -->
          </div>
          <div class="col-lg-10 col-md-9 col-sm-9 mb-3 p-3">
            <h4>MANAJEMEN KEUANGAN BERANTAKAN</h4>
            <p class="card-text text-justify">Sayangnya, banyak orang yang tidak menyadari kalau keuangannya mulai
              berantakan sehingga mereka tidak menyikapi dengan serius. Padahal, jika tidak segera diantisipasi, akan
              semakin banyak kerepotan yang timbul.</p>
          </div>
        </div>
      </div>
      {{!-- Card kelima --}}
      <div class="col-10 col-md-6 col-sm-9 mb-3">
        <div class="row">
          <div class="col-lg-2 col-md-3 col-sm-3 align-self-start text-center p-3">
            <i class="fas fa-lightbulb fa-2x border border-primary text-primary rounded-circle p-3"></i>
            <!-- disini taro icon -->
          </div>
          <div class="col-lg-10 col-md-9 col-sm-9 mb-3 p-3">
            <h4>KURANG INOVASI</h4>
            <p class="card-text text-justify">Inovasi dalam bisnis adalah warna dalam bisnis itu sendiri. Tanpa
              melakukan inovasi, bisnis akan terasa tidak menarik dan kurang diminati.</p>
          </div>
        </div>
      </div>

      <!-- Card kedua -->
      {{!-- <div class="col-12 col-md-6 col-sm-12 mb-3">
        <div class="row">
          <div class="col-md-2 align-self-start">
            <i class="fas fa-project-diagram fa-2x border border-primary text-primary rounded-circle p-3"
              style="border:20px;"></i>
            <!-- disini taro icon -->
          </div>
          <div class="col-md-10 mb-3">
            <h4>MODEL BISNIS TIDAK TEPAT</h4>
            <p class="card-text text-justify">Katakanlah Anda ingin memulai sebuah bisnis. Model bisnis apa yang akan
              Anda gunakan? Jika Anda belum mampu menjawabnya, mungkin usaha Anda belum memiliki konsep bisnis yang
              jelas. Padahal, menentukan model bisnis sangat penting agar bisnis dapat terus berkembang.</p>
          </div>
        </div>
      </div> --}}
      <!-- Card Ketiga -->
      {{!-- <div class="col-12 col-md-6 col-sm-12 mb-3">
        <div class="row">
          <div class="col-md-2 align-self-start">
            <i class="fas fa-chart-line fa-2x border border-primary text-primary rounded-circle p-3"></i>
            <!-- disini taro icon -->
          </div>
          <div class="col-md-10 mb-3">
            <h4>MARKETING TIDAK CAKAP</h4>
            <p class="card-text text-justify">Kesuksesan sebuah bisnis sangat tergantung dari bagiamana kesuksesan
              marketing. Sehingga bisa dikatakan sehebat apapun produk yang Anda miliki, jika tidak dibarengi dengan
              marketing, maka tidak akan menjadi apa – apa.</p>
          </div>
        </div>
      </div> --}}
      <!-- Card Keempat -->
      {{!-- <div class="col-12  col-md-6 col-sm-12 mb-3">
        <div class="row">
          <div class="col-md-2 align-self-start">
            <i class="fas fa-money-check-alt fa-2x border border-primary text-primary rounded-circle p-3"></i>
            <!-- disini taro icon -->
          </div>
          <div class="col-md-10 mb-3">
            <h4>MANAJEMEN KEUANGAN BERANTAKAN</h4>
            <p class="card-text text-justify">Sayangnya, banyak orang yang tidak menyadari kalau keuangannya mulai
              berantakan sehingga mereka tidak menyikapi dengan serius. Padahal, jika tidak segera diantisipasi, akan
              semakin banyak kerepotan yang timbul.</p>
          </div>
        </div>
      </div> --}}
      <!-- Card Kelima -->
      {{!-- <div class="col-12  col-md-6 col-sm-12 mb-3">
        <div class="row">
          <div class="col-md-2 align-self-start">
            <i class="fas fa-lightbulb fa-2x border border-primary text-primary rounded-circle p-4"></i>
            <!-- disini taro icon -->
          </div>
          <div class="col-md-10 mb-3">
            <h4>KURANG INOVASI</h4>
            <p class="card-text text-justify">Inovasi dalam bisnis adalah warna dalam bisnis itu sendiri. Tanpa
              melakukan inovasi, bisnis akan terasa tidak menarik dan kurang diminati.</p>
          </div>
        </div>
      </div> --}}
    </div>
  </section>
  <!-- {{!-- End of Card --}}
        
        {{!-- Jumbotron 2 --}} -->
  <section>
    <div class="jumbotron jumbotron-fluid bg-jumbo1 mt-4">
      <div class="container d-flex justify-content-center">
        <h1 class="jumbotron-h1  ">INGIN MEMULAI BISNIS?</h1>
      </div>
      <div class="container">
        <h5 class="d-flex justify-content-center text-center font-weight-bold">Semua Strategi, Tips dan Step-Step
          bagaimana memulai bisnis di era digital telah kami rangkum dalam 9 video dibawah ini!</h5>
      </div>
    </div>
  </section>
  <!-- {{!-- End of Jumbotron 2 --}}
        
        {{!-- CARD VIDEO --}} -->
  <section>
    <div class="container">
      <div class="space40"></div>
      <div class="card card-bawah mt-5 mb-5">
        <div class="row no-gutters">
          <div class="col-md-5">
            <figure><img src="/style/images/v1.jpeg" class="card-img" style="margin-bottom: -15px;" alt=""></figure>
          </div>
          <div class="col-md-7">
            <div class="card-body" style="text-align: center !important;">
              <i class="icon-card fab fa-youtube fa-3x"></i>
              <p class="card-title judul-card">1. Pondasi Bisnis Yang Benar</p>
              <p class="card-text" style="text-align: center !important;">Sesuai janji, sebagai rasa terima kasih, kami
                akan berikan 9 Video Tutorial Gratis ini kepada Anda.
                <br>Video ini dibuat agar Anda tidak mengalami kegagalan yang sama dengan para pebisnis pada umumnya.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="space40"></div>
      <div class="card card-bawah mt-5 mb-5">
        <div class="row no-gutters">
          <div class="col-md-5">
            <figure><img src="/style/images/v2.jpeg" class="card-img" style="" alt=""></figure>
          </div>
          <div class="col-md-7">
            <div class="card-body" style="text-align: center !important;">
              <i class="icon-card fab fa-youtube fa-3x"></i>
              <h6 class="card-title judul-card">2. 3 Alasan Mengapa Harus Mulai Bisnis Digital</h6>
              <p class="card-text" style="text-align: center !important;">Yakin mau terus bertahan di dunia offline?
                <br>Sejak Covid melanda, tercatat jumlah pekerja yang terkena PHK dan dirumahkan mencapai 3 juta orang.
                Saat-saat seperti ini memang menjadi situasi yang sulit bagi kebanyakan pebisnis, apalagi pebisnis
                offline.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="space40"></div>
      <div class="card card-bawah mt-5 mb-5">
        <div class="row no-gutters">
          <div class="col-md-5">
            <figure><img src="/style/images/v3.jpeg" class="card-img" style="" alt=""></figure>
          </div>
          <div class="col-md-7">
            <div class="card-body" style="text-align: center !important;">
              <i class="icon-card fab fa-youtube fa-3x"></i>
              <h6 class="card-title judul-card">3. Pentingnya Membuat Model Bisnis Part.1</h6>
              <p class="card-text" style="text-align: center !important;">Seberapa penting membuat
                <br>model bisnis sebelum mulai berbisnis?<br>Membangun model bisnis perlu dimulai dari hal yang paling
                basic, akan kita bahas di video ini.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="space40"></div>
      <div class="card card-bawah mt-5 mb-5">
        <div class="row no-gutters">
          <div class="col-md-5">
            <figure><img src="/style/images/v4.jpeg" class="card-img" style="" alt=""></figure>
          </div>
          <div class="col-md-7">
            <div class="card-body" style="text-align: center !important;">
              <i class="icon-card fab fa-youtube fa-3x"></i>
              <h6 class="card-title judul-card">4. Pentingnya Membuat Model Bisnis Part.2</h6>
              <p class="card-text" style="text-align: center !important;">Membuat Model Bisnis sangat Penting untuk
                membangun bisnis Anda ke depannya.<br>Pastikan Anda sudah merancang dengan tepat mulai dari awal, karena
                bila salah, cukup sulit untuk diperbaiki ke depannya. Mari kita bahas lebih dalam!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="space40"></div>
      <div class="card card-bawah mt-5 mb-5">
        <div class="row no-gutters">
          <div class="col-md-5">
            <figure><img src="/style/images/v5.jpeg" class="card-img" style="" alt=""></figure>
          </div>
          <div class="col-md-7">
            <div class="card-body" style="text-align: center !important;">
              <i class="icon-card fab fa-youtube fa-3x"></i>
              <h6 class="card-title judul-card">5. 2 Langkah Membuat Sistem Otomatis Di Bisnis Digital</h6>
              <p class="card-text" style="text-align: center !important;">Orderan semakin banyak, namun Anda malah
                semakin capek, pusing & jadi tidak punya waktu? <br> Anda tidak melakukan “Otomatisasi” pada bisnis
                Anda.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="space40"></div>
      <div class="card card-bawah mb-5 mt-5">
        <div class="row no-gutters">
          <div class="col-md-5">
            <figure><img src="/style/images/v6.jpeg" class="card-img" style="" alt=""></figure>
          </div>
          <div class="col-md-7">
            <div class="card-body" style="text-align: center !important;">
              <i class="icon-card fab fa-youtube fa-3x"></i>
              <h6 class="card-title judul-card">6. Strategy Ampuh Membangun Funnel</h6>
              <p class="card-text" style="text-align: center !important;">Anda perlu paham bahwa Funnel adalah salah
                satu bagian TERPENTING dalam bisnis digital. <br>Salah Bangun Funnel = Boncos! Mau untung di Bisnis
                Digital tapi masih lemah dalam membangun Funnel? Tenang, akan kita bahas di video ini.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="space40"></div>
      <div class="card card-bawah mt-5 mb-5">
        <div class="row no-gutters">
          <div class="col-md-5">
            <figure><img src="/style/images/v7.jpeg" class="card-img" style="" alt=""></figure>
          </div>
          <div class="col-md-7">
            <div class="card-body" style="text-align: center !important;">
              <i class="icon-card fab fa-youtube fa-3x"></i>
              <h6 class="card-title judul-card">7. 2 Jenis Traffic Dalam Bisnis Digital</h6>
              <p class="card-text" style="text-align: center !important;">Traffic yang datang ke toko online FNAME
                kurang banyak? Atau tidak berkualitas?<br>Kurang Banyak & Tidak Berkualitas = Konversi Rendah<br>Lebih
                baik lewat mana? Traffic Gratisan atau Traffic Berbayar?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="space40"></div>
      <div class="card card-bawah mt-5 mb-5">
        <div class="row no-gutters">
          <div class="col-md-5">
            <figure><img src="/style/images/v8.jpeg" class="card-img" alt=""></figure>
          </div>
          <div class="col-md-7">
            <div class="card-body" style="text-align: center !important;">
              <i class="icon-card fab fa-youtube fa-3x"></i>
              <h6 class="card-title judul-card">8. 5 Sumber Traffic Untuk Meningkatkan Omset 300%</h6>
              <p class="card-text" style="text-align: center !important;">Traffic Anda sudah banyak & berkualitas namun
                closingan masih rendah? Mungkin CARA MENGOLAH traffic-nya yang belum tepat!<br>Oleh karena itu, selain
                pahami bagaimana cara mendatangkan traffic, Anda juga perlu paham cara mengolah traffic menjadi
                database.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="space40"></div>
      <div class="card card-bawah mt-5 mb-5">
        <div class="row no-gutters">
          <div class="col-md-5">
            <figure><img src="/style/images/v9.jpeg" class="card-img" alt=""></figure>
          </div>
          <div class="col-md-7">
            <div class="card-body" style="text-align: center !important;">
              <i class="icon-card fab fa-youtube fa-3x"></i>
              <h6 class="card-title judul-card">9. Content Is The King</h6>
              <p class="card-text" style="text-align: center !important;">Apakah Bisnis Anda sudah memiliki banyak
                konten yang berkualitas?<br>Atau jangan-jangan konten Anda memang tidak “kena” ke calon target
                marketnya?<br>Mana yang lebih penting? Copywriting, Gambar atau Video?</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- {{!-- END --}} -->

  <!-- {{!-- Jumbotron 3 --}} -->
  <section>
    <div class="jumbotron jumbotron-fluid bg-jumbo2 mt-4">
      <div class="container d-flex justify-content-center">
        <h1 class="display-4 jumbotron-h1 ">9 FREE TUTORIAL VIDEO</h1>
      </div>
      <div class="container">
        <h5 class="d-flex justify-content-center text-center">Anda ingin mendapatkan semua video di atas? Klik tombol di
          bawah ini!</h5>
      </div>
      <!-- Button trigger modal -->
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
          Dapatkan Video!
        </button>
      </div>
    </div>
  </section>
  <!-- {{!-- End of Jumbotron 3 --}} -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header badge-primary">
          <h5 class="modal-title" id="exampleModalLongTitle">Silahkan masukkan nama dan email Anda</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" enctype="application/x-www-form-urlencoded" action="">
          <div class="modal-body">
            <!-- {{!-- FORM --}} -->
            <div class="container">
              <div class="form-group">
                <label for="formGroupExampleInput">Nama Lengkap</label>
                <input type="text" name="fullName" class="form-control" placeholder="Nama Lengkap" required>
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Email</label>
                <input type="email" name="email" class="form-control" placeholder="namaanda@email.com" required>
                <small class="list-group-item list-group-item-warning"><strong class="text-danger ">*</strong> Pastikan alamat email Anda valid karena 9
                  video tersebut akan
                  dikirimkan ke email Anda</small>
              </div>
            </div>
            <!-- {{!-- END --}} -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          {{!-- <div class="text-justify p-3 tlist-group-item list-group-item-warning">
              **Pastikan alamat email Anda valid karena 9 video tersebut akan dikirimkan ke email Anda
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div> --}}
        </form>
      </div>
    </div>
  </div>

  {{!-- Error Modal --}}

  <!-- Button trigger modal -->
  {{#if error}}
  <span id="error">{{error}}</span>
  {{/if}}
  {{#if success}}
  <span>{{success}}</span>
  {{/if}}
  {{!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#errorModal">
    Launch demo modal
  </button> --}}

  <!-- Modal -->
  {{!-- <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> --}}
  {{!-- {{/if}} --}}

  {{!-- <!--  Footer -->
        <section>
          <div class="jumbotron jumbotron-fluid jumbotron-footer">
            <div class="container d-flex justify-content-center ">
              <a href="https://facebook.com/generasianakmudasukses"> <i class="fab fa-facebook-f border border-white icon-footer p-3 mr-2 fa-1x"></i></a>
              <a href="https://instagram.com/gamsindonesia"><i class="fab fa-instagram border border-white icon-footer p-3 mr-2"></i></a>
              <a href="https://wa.me/6283877607433"> <i class="fab fa-whatsapp border border-white icon-footer p-3 mr-2"></i></a>
              <a href=""><i class="fab fa-youtube border border-white icon-footer p-3"></i></a>
            </div>
            <div class="d-flex justify-content-center">
              <i class="text-muted mt-4">©Copyright 2020 – GAMS Indonesia, All Rights Reserved</i>
            </div>
          </div>
        </section>
        <!-- END --> --}}

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/9281291cd5.js" crossorigin="anonymous"></script>
  {{!-- <script src="/pure/js/my.js"></script> --}}

  <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
</body>

</html>