<div class="offcanvas-info inverse-text">
    <button class="plain offcanvas-close offcanvas-info-close"><i class="jam jam-close"></i></button>
    <a href="index.html"><img src="#" srcset="/style/images/logo-light.png 1x, /style/images/logo-light@2x.png 2x"
            alt="" /></a>
    <div class="space30"></div>
    <p>Snowlake is a multi-concept and powerful site template contains rich layouts with possibility of unlimited
        combinations & beautiful elements.</p>
    <div class="space20"></div>
    <div class="widget">
        <h5 class="widget-title">Contact Info</h5>
        <address> Moonshine St. 14/05 <br /> Light City, London <div class="space20"></div>
            <a href="mailto:first.last@email.com" class="nocolor">info@email.com</a><br /> +00 (123) 456 78 90
        </address>
    </div>
    <!-- /.widget -->
    <div class="widget">
        <h3 class="widget-title">Learn More</h3>
        <ul class="list-unstyled">
            <li><a href="#" class="nocolor">Our Story</a></li>
            <li><a href="#" class="nocolor">Terms of Use</a></li>
            <li><a href="#" class="nocolor">Privacy Policy</a></li>
            <li><a href="#" class="nocolor">Contact Us</a></li>
        </ul>
    </div>
    <!-- /.widget -->
    <div class="widget">
        <h3 class="widget-title">Follow Us</h3>
        <ul class="social social-mute social-s ml-auto">
            <li><a href="#"><i class="jam jam-twitter"></i></a></li>
            <li><a href="#"><i class="jam jam-facebook"></i></a></li>
            <li><a href="#"><i class="jam jam-instagram"></i></a></li>
            <li><a href="#"><i class="jam jam-vimeo"></i></a></li>
            <li><a href="#"><i class="jam jam-youtube"></i></a></li>
        </ul>
    </div>
    <!-- /.widget -->
</div>
<!-- /.offcanvas-info -->
<div class="wrapper dark-wrapper">
    <div class="rev_slider_wrapper fullwidth-container">
        <div id="slider10" class="rev_slider fullwidthbanner" data-version="5.4.7">
            <ul>
                <li data-transition="fade" data-thumb=""><img src="/style/images/art/homepage.jpeg" alt="" />
                    <div class="tp-caption font-weight-600 color-white text-center" data-x="center" data-y="middle"
                        data-voffset="['-45','-45','-45','-45']" data-fontsize="['50','50','40','36']"
                        data-lineheight="['65','65','55','51']" data-width="['550','550','550','340']"
                        data-textAlign="['center','center','center','center']"
                        data-whitespace="['normal','normal','normal','normal']"
                        data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.7;sY:0.7;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-responsive="on" data-responsive_offset="on" style="z-index: 9;">Sudah Lelah #jualanonline
                        sendirian?
                    </div>
                    <!-- /.tp-caption -->
                    <a class="tp-caption btn btn-l btn-white btn-strong-hover scroll" data-x="center" data-y="middle"
                        data-voffset="['85','85','85','85']" data-width="['auto','auto','auto','auto']"
                        data-textAlign="['center','center','center','center']"
                        data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.7;sY:0.7;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-responsive="on" data-responsive_offset="on" style="z-index: 9;" href="#">Bangun Tim
                        Reseller Anda dari sekarang!
                    </a>
                    <!-- /.tp-caption -->
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
        <!-- /.rev_slider -->
    </div>
    <!-- /.rev_slider_wrapper -->
</div>
<!-- /.wrapper -->
<div class="wrapper white-wrapper">
    <div class="container inner">
        <div class="text-center">
            <h2 class="title-bg bg-default color-default">Fasilitas</h2>
        </div>
        <div class="space10"></div>
        <h3 class="display-3 text-center">Bongkar Apa Saja Fasilitas<br> Serta Bimbingan yang ada di GAMS Indonesia?
        </h3>
        <div class="space30"></div>
        <div class="row gutter-60 text-center align-items-end">



            <!-- 16:9 aspect ratio -->
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aQuLVL2dyM0"></iframe>
            </div>
        </div>
        <!--/.row -->
        <div class="space140"></div>
        <h3 class="display-3 text-center">APA SAJA YANG AKAN DIAJARKAN DI MEMBER AREA?
        </h3>
        <div class="space30"></div>


        <div class="space140"></div>
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2 text-center">
                <figure><img src="#" srcset="/style/images/FB-marketing-300x300.png" alt="" /></figure>
            </div>
            <!--/column -->
            <div class="space20 d-md-none"></div>
            <div class="space50 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-6 pr-60 pr-md-15">
                <h2 class="title-bg bg-default color-default">Facebook</h2>
                <div class="space10"></div>
                <h3 class="display-3">Facebook Marketing Secret</h3>
                <div class="space10"></div>
                <p>
                    Di bagian ini Anda akan belajar tentang:<br>

                    Strategy dan Metode yang efektif dalam beriklan di FB Ads, dengan metode A/B Testing, CA, LAA agar
                    Anda dapat mengoptimalkan iklan Anda.
                </p>
                <button class="btn btn-teal">Senilai Rp 497.000</button>
                <!-- /.accordion-wrapper -->
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
        <div class="space140"></div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <figure><img src="#" srcset="/style/images/Instagram-Money-Machine-300x300.png" alt="" /></figure>
            </div>
            <!--/column -->
            <div class="space20 d-md-none"></div>
            <div class="space50 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-6 pl-60 pl-md-15">
                <h2 class="title-bg bg-default color-default">Instagram</h2>
                <div class="space10"></div>
                <h3 class="display-3">Instagram Money Machine</h3>
                <div class="space10"></div>
                <p>Di bagian ini Anda akan fokus belajar tentang :<br>

                    Bagaimana Caranya Mendapatkan Minimal Penghasilan 5-10 juta/bulan di bulan ke-5 (Bahkan Bisa Lebih
                    Cepat) lewat Free Traffic dari Instagram</p>
                <button class="btn btn-teal">Senilai Rp 497.000</button>
                <!--/.row -->
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
        <div class="space140"></div>
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2 text-center">
                <figure><img src="#" srcset="/style/images/Facebook-Ads-Killer-300x300.png" alt="" /></figure>
            </div>
            <!--/column -->
            <div class="space20 d-md-none"></div>
            <div class="space50 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-6 pr-60 pr-md-15">
                <h2 class="title-bg bg-default color-default">Facebook</h2>
                <div class="space10"></div>
                <h3 class="display-3">Facebook Ads Killer</h3>
                <div class="space10"></div>
                <p>
                    Di bagian ini Anda akan belajar tentang:<br>

                    Strategy dan Metode yang efektif dalam beriklan di FB Ads, dengan metode A/B Testing, CA, LAA agar
                    Anda dapat mengoptimalkan iklan Anda.
                </p>
                <button class="btn btn-teal">Senilai Rp 997.000</button>
                <!-- /.accordion-wrapper -->
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
        <div class="space140"></div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <figure><img src="#" srcset="/style/images/Marketing-Intensive-1-215x300.png" alt="" /></figure>
            </div>
            <!--/column -->
            <div class="space20 d-md-none"></div>
            <div class="space50 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-6 pl-60 pl-md-15">
                <h2 class="title-bg bg-default color-default">Instagram</h2>
                <div class="space10"></div>
                <h3 class="display-3">Instagram Marketing Intens</h3>
                <div class="space10"></div>
                <p>Di bagian ini Anda akan fokus belajar tentang :<br>

                    Mempelajari Rahasia Tersembunyi Instagram untuk Melipatgandakan Omset.</p>
                <button class="btn btn-teal">Senilai Rp 500.000</button>
                <!--/.row -->
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
        <div class="space140"></div>
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2 text-center">
                <figure><img src="#" srcset="/style/images/INSTAGRAM-MASTERY-ii-216x300.png" alt="" /></figure>
            </div>
            <!--/column -->
            <div class="space20 d-md-none"></div>
            <div class="space50 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-6 pr-60 pr-md-15">
                <h2 class="title-bg bg-default color-default">Instagram</h2>
                <div class="space10"></div>
                <h3 class="display-3">Instagram Ads Mastery</h3>
                <div class="space10"></div>
                <p>
                    I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                </p>
                <button class="btn btn-teal">Senilai Rp 997.000</button>
                <!-- /.accordion-wrapper -->
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
        <div class="space140"></div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <figure><img src="#" srcset="/style/images/101-Copywriting-300x300.png" alt="" /></figure>
            </div>
            <!--/column -->
            <div class="space20 d-md-none"></div>
            <div class="space50 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-6 pl-60 pl-md-15">
                <h2 class="title-bg bg-default color-default">Copywriting</h2>
                <div class="space10"></div>
                <h3 class="display-3">Copywriting 101</h3>
                <div class="space10"></div>
                <p>I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                <button class="btn btn-teal">Senilai Rp 500.000</button>
                <!--/.row -->
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
        <div class="space140"></div>
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2 text-center">
                <figure><img src="#" srcset="/style/images/ads-template-rev-300x300.png" alt="" /></figure>
            </div>
            <!--/column -->
            <div class="space20 d-md-none"></div>
            <div class="space50 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-6 pr-60 pr-md-15">
                <h2 class="title-bg bg-default color-default">Template</h2>
                <div class="space10"></div>
                <h3 class="display-3">Ads Template</h3>
                <div class="space10"></div>
                <p>
                    Di bagian ini Anda akan belajar tentang: <br>

                    Bagaimana bentuk alur yang perlu Anda buat dalam beriklan, agar semakin hari iklan Anda semakin
                    banyak mendatangkan traffic, sehingga semakin banyak terjadi konversi/closing.
                </p>
                <button class="btn btn-teal">Senilai Rp 297.000</button>
                <!-- /.accordion-wrapper -->
            </div>
            <!--/column -->
        </div>
        <!--/.row -->

        <div class="space140"></div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <figure><img src="#"
                        srcset="style/images/concept/concept15.png 1x, style/images/concept/concept15@2x.png 2x"
                        alt="" /></figure>
            </div>
            <!--/column -->
            <div class="space20 d-md-none"></div>
            <div class="space50 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-6 pl-60 pl-md-15">
                <h2 class="title-bg bg-default color-default">Keuntungan</h2>
                <div class="space10"></div>
                <h3 class="display-3">KEUNTUNGAN APA SAJA YANG ANDA DAPATKAN?</h3>
                <div class="space20"></div>
                <div class="row">
                    <div class="col-md-6">
                        <h5><span class="color-default">1.</span> Full Support 101%</h5>
                        <p>GAMS menyediakan Tim Support yang siap membantu Anda baik secara online (melalui Live Chat,
                            Whatsapp, Webinar, dan lain-lain) maupun offline (melalui event-event Kopdar, Training dan
                            lain-lain) dimana Anda akan langsung dibantu oleh para mentor.</p>
                    </div>
                    <!--/column -->
                    <div class="col-md-6">
                        <h5><span class="color-default">2.</span> Strategi Jualan</h5>
                        <p>Salah satu hal yang WAJIB Anda miliki ketika berjualan adalah ILMU DAN STRATEGI. Di luar
                            sana, Anda perlu mengeluarkan biaya jutaan untuk belajar dan mengikuti training, sementara
                            disini justru dijadikan sebagai Fasilitas untuk membantu Anda.</p>
                    </div>
                    <!--/column -->
                    <div class="space10 d-none d-md-block"></div>
                    <div class="col-md-6">
                        <h5><span class="color-default">3.</span> Dropship</h5>
                        <p>Anda tidak perlu stok barang. Tidak perlu sibuk packing setiap kali ada orderan. Hal yang
                            merepotkan dalam berbisnis online adalah proses pengemasan dan pengiriman. Menariknya, di
                            GAMS kami yang akan mengurus semuanya.</p>
                    </div>
                    <!--/column -->
                    <div class="col-md-6">
                        <h5><span class="color-default">4.</span> Penghasilan</h5>
                        <p>Selain belajar dan mendapatkan materi yang selalu diperbarui, salah satu fasilitas “mahal”
                            dan bernilai di GAMS adalah Anda juga mendapat kesempatan untuk memiliki Pasif Income yang
                            terus membesar dari Dunia Digital.</p>
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
        <div class="space140"></div>
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2 text-center">
                <figure><img src="#"
                        srcset="style/images/concept/concept17.png 1x, style/images/concept/concept17@2x.png 2x"
                        alt="" /></figure>
            </div>
            <!--/column -->
            <div class="space20 d-md-none"></div>
            <div class="space50 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-6 pr-60 pr-md-15">
                <h2 class="title-bg bg-default color-default">Fasilitas</h2>
                <div class="space10"></div>
                <h3 class="display-3">DITAMBAH FASILITAS YANG KAMI SEDIAKAN, DAPAT MENGGANTIKAN WAKTU ANDA & TIDAK
                    TERNILAI HARGANYA!</h3>
                <div class="space20"></div>
                <div id="accordion-1" class="accordion-wrapper simple">
                    <div class="card">
                        <div class="card-header" id="accordion-heading-1-1">
                            <h5>
                                <button data-toggle="collapse" data-target="#accordion-collapse-1-1"
                                    aria-expanded="true" aria-controls="accordion-collapse-1-1">Materi Iklan</button>
                            </h5>
                        </div>
                        <!-- /.card-header -->
                        <div id="accordion-collapse-1-1" class="collapse show" aria-labelledby="accordion-heading-1-1"
                            data-parent="#accordion-1">
                            <div class="card-body">
                                <p>Salah satu penyebab banyaknya bisnis yang merugi adalah karena tidak memiliki konten
                                    berkualitas. Untuk mendapatkannya, Anda perlu mengeluarkan biaya hingga belasan juta
                                    rupiah perbulan. Namun disini, Anda akan mendapatkan puluhan konten baru GRATIS
                                    SETIAP MINGGUNYA yang dapat Anda gunakan sebagai materi beriklan.</p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.collapse -->
                    </div>
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header" id="accordion-heading-1-2">
                            <h5>
                                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-1-2"
                                    aria-expanded="false" aria-controls="accordion-collapse-1-2">Komunitas dan
                                    Mentor</button>
                            </h5>
                        </div>
                        <!-- /.card-header -->
                        <div id="accordion-collapse-1-2" class="collapse" aria-labelledby="accordion-heading-1-2"
                            data-parent="#accordion-1">
                            <div class="card-body">
                                <p>Tidak perlu merasa sendiri, karena ada komunitas yang positif dan supportif. 90%
                                    member kami merasa terbantu dengan komunitas Generasi Anak Muda Sukses ini hingga
                                    bisa bertumbuh dan sukses bersama-sama.</p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.collapse -->
                    </div>
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header" id="accordion-heading-1-3">
                            <h5>
                                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-1-3"
                                    aria-expanded="false" aria-controls="accordion-collapse-1-3">Training Online &
                                    Offline</button>
                            </h5>
                        </div>
                        <!-- /.card-header -->
                        <div id="accordion-collapse-1-3" class="collapse" aria-labelledby="accordion-heading-1-3"
                            data-parent="#accordion-1">
                            <div class="card-body">
                                <p>Anda dapat belajar secara online (melalui website) maupun offline (tatap muka). Bagi
                                    Anda yang terkendala dengan masalah jarak dan waktu, GAMS menyiapkan pembelajaran
                                    online lengkap dengan sistem serta kurikulumnya. Anda hanya perlu meluangkan waktu
                                    1-2 jam per hari untuk mengikuti seluruh pembelajaran.</p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.collapse -->
                    </div>
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header" id="accordion-heading-1-4">
                            <h5>
                                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-1-4"
                                    aria-expanded="false" aria-controls="accordion-collapse-1-4">Website</button>
                            </h5>
                        </div>
                        <!-- /.card-header -->
                        <div id="accordion-collapse-1-4" class="collapse" aria-labelledby="accordion-heading-1-4"
                            data-parent="#accordion-1">
                            <div class="card-body">
                                <p>Di GAMS Anda sudah di-fasilitasi Website & Landing Page yang telah dilengkapi Fitur
                                    Affiliate beserta License Program bagi membernya. Sehingga Anda tidak hanya
                                    mendapatkan komisi dari personal sales namun juga bisa mendapat cipratan penghasilan
                                    dari Team Reseller Anda.</p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.collapse -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.accordion-wrapper -->
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->

<div class="wrapper light-wrapper">
    <div class="container inner">
        <div class="text-center">
            <h2 class="title-bg bg-default color-default">Case Studies</h2>
        </div>
        <div class="space10"></div>
        <h3 class="display-3 text-center">Di Generasi Anak Muda Sukses, Anda tidak sendirian.</h3>
        <p class="text-center">Anda akan bergabung dengan komunitas GAMS yang super aktif di setiap kota yang siap
            membantu Anda hingga sukses bersama-sama!</p>
        <div class="space40"></div>
        <div class="grid-view">
            <div class="carousel owl-carousel" data-margin="30" data-dots="true" data-autoplay="false"
                data-autoplay-timeout="5000"
                data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "3"}}'>
                <div class="item">
                    <figure class="overlay overlay1 rounded mb-30"><a href="#"> <img
                                src="/style/images/Kopdar6-150x150.jpg" alt="" /></a>
                        <figcaption>
                            <h5 class="from-top mb-0">Read More</h5>
                        </figcaption>
                    </figure>
                </div>
                <!-- /.item -->
                <div class="item">
                    <figure class="overlay overlay1 rounded mb-30"><a href="#"> <img
                                src="/style/images/Kopdar5-150x150.jpg" alt="" /></a>
                        <figcaption>
                            <h5 class="from-top mb-0">Read More</h5>
                        </figcaption>
                    </figure>
                </div>
                <!-- /.item -->
                <div class="item">
                    <figure class="overlay overlay1 rounded mb-30"><a href="#"> <img
                                src="/style/images/Kopdar4-150x150.jpg" alt="" /></a>
                        <figcaption>
                            <h5 class="from-top mb-0">Read More</h5>
                        </figcaption>
                    </figure>
                </div>
                <!-- /.item -->
                <div class="item">
                    <figure class="overlay overlay1 rounded mb-30"><a href="#"> <img
                                src="/style/images/Kopdar1-150x150.jpg" alt="" /></a>
                        <figcaption>
                            <h5 class="from-top mb-0">Read More</h5>
                        </figcaption>
                    </figure>
                </div>
                <!-- /.item -->
                <div class="item">
                    <figure class="overlay overlay1 rounded mb-30"><a href="#"> <img
                                src="/style/images/IMG_20200731_104720_874-150x150.jpg" alt="" /></a>
                        <figcaption>
                            <h5 class="from-top mb-0">Read More</h5>
                        </figcaption>
                    </figure>
                </div>
                <!-- /.item -->
                <div class="item">
                    <figure class="overlay overlay1 rounded mb-30"><a href="#"> <img
                                src="/style/images/IMG_20200731_104714_706-150x150.jpg" alt="" /></a>
                        <figcaption>
                            <h5 class="from-top mb-0">Read More</h5>
                        </figcaption>
                    </figure>
                </div>
                <!-- /.item -->

            </div>
            <!-- /.owl-carousel -->
        </div>
        <!-- /.grid-view -->
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="space30"></div>
<div class="box shadow p-60 image-wrapper bg-full bg-image inverse-text rounded d-md-flex align-items-md-center justify-content-md-between"
    data-image-src="style/images/art/bg6.jpg" style="background-image: url(&quot;style/images/art/bg6.jpg&quot;);">
    <h3 class="display-3 mb-0">Sudah 7.315 orang belajar bersama kami & merasakan manfaatnya.</h3>
    <div class="space30 d-md-none"></div>
    <a href="/auth/signup" class="btn btn-white btn-strong-hover mb-0">Gabung Sekarang</a>
</div>
<div class="wrapper gray-wrapper">
    <div class="container inner">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2 class="section-title mb-40 text-center">Frequently Asked Questions</h2>
                <div id="accordion-2" class="accordion-wrapper">
                    <div class="card shadow">
                        <div class="card-header" id="accordion-heading-2-1">
                            <h5>
                                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-1"
                                    aria-expanded="false" aria-controls="accordion-collapse-2-1">Apakah GAMS hanya untuk
                                    anak muda saja?</button>
                            </h5>
                        </div>
                        <!-- /.card-header -->
                        <div id="accordion-collapse-2-1" class="collapse" aria-labelledby="accordion-heading-2-1"
                            data-target="#accordion-2">
                            <div class="card-body">
                                <p>Tidak. GAMS diperuntukkan untuk anak-anak muda dan bagi Anda yang sudah merasa
                                    berumur namun memiliki semangat seperti anak muda. Jangan minder dengan anak-anak
                                    muda. Karena semakin tua seseorang, semakin berpengalaman. Hanya bersama GAMS >></p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.collapse -->
                    </div>
                    <!-- /.card -->
                    <div class="card shadow">
                        <div class="card-header" id="accordion-heading-2-2">
                            <h5>
                                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-2"
                                    aria-expanded="false" aria-controls="accordion-collapse-2-2">Bagaimana cara
                                    bergabung?</button>
                            </h5>
                        </div>
                        <!-- /.card-header -->
                        <div id="accordion-collapse-2-2" class="collapse" aria-labelledby="accordion-heading-2-2"
                            data-target="#accordion-2">
                            <div class="card-body">
                                <p>Sebelumnya apakah Kak sudah menonton video Fasilitas GAMS?

                                    Untuk hal pertama yaitu tonton video Fasilitas GAMS sampai selesai,

                                    Lalu ketika video nya sudah selesai di tonton, di bawah video Kakak tekan LANGKAH
                                    BERIKUTNYA 🙂</p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.collapse -->
                    </div>
                    <!-- /.card -->
                    <div class="card shadow">
                        <div class="card-header" id="accordion-heading-2-3">
                            <h5>
                                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-3"
                                    aria-expanded="false" aria-controls="accordion-collapse-2-3">Apakah setelah join
                                    akan dibimbing?</button>
                            </h5>
                        </div>
                        <!-- /.card-header -->
                        <div id="accordion-collapse-2-3" class="collapse" aria-labelledby="accordion-heading-2-3"
                            data-target="#accordion-2">
                            <div class="card-body">
                                <p>Iya, Anda akan mendapatkan Full Support 101% . Anda akan dibimbing sampai bisa
                                    menghasilkan 5-10 juta/bulan dari Dunia Digital selambat-lambatnya di bulan ke-5.
                                    Ada Tim Support yang siap membantu Anda baik secara online (melalui Live Chat,
                                    Whatsapp, Webinar, dan lain-lain) maupun offline (melalui event-event Kopdar,
                                    Training dan lain-lain) dimana Anda akan langsung dibantu oleh para mentor.</p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.collapse -->
                    </div>
                    <!-- /.card -->
                    <div class="card shadow">
                        <div class="card-header" id="accordion-heading-2-4">
                            <h5>
                                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-4"
                                    aria-expanded="false" aria-controls="accordion-collapse-2-4">Bagaimana cara
                                    kerjanya?</button>
                            </h5>
                        </div>
                        <!-- /.card-header -->
                        <div id="accordion-collapse-2-4" class="collapse" aria-labelledby="accordion-heading-2-4"
                            data-target="#accordion-2">
                            <div class="card-body">
                                <p>Member sudah di-fasilitasi Website & Landing Page yang telah dilengkapi Fitur
                                    Affiliate. Sehingga tugas Anda cukup menyebarkan link Affiliate Anda dengan Ilmu
                                    Digital Marketing yang kami ajarkan. Ketika orang melakukan transaksi lewat link
                                    Affiliate Anda, Anda berhak mendapatkan komisi. Proses pengiriman barang dan tanya
                                    jawab customer, semua kami yang urus.</p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.collapse -->
                    </div>
                    <!-- /.card -->
                    <div class="card shadow">
                        <div class="card-header" id="accordion-heading-2-5">
                            <h5>
                                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-5"
                                    aria-expanded="false" aria-controls="accordion-collapse-2-5">Apakah ada biaya
                                    perbulan bagi member?</button>
                            </h5>
                        </div>
                        <!-- /.card-header -->
                        <div id="accordion-collapse-2-5" class="collapse" aria-labelledby="accordion-heading-2-5"
                            data-target="#accordion-2">
                            <div class="card-body">
                                <p>Tidak ada. Jadi ketika Kakak bergabung menjadi member GAMS hanya akan ada 1 kali
                                    pembayaran saja di awal untuk menjadi member 1x seumur hidup, dan Kakak akan
                                    mendapatkan semua Fasilitas & Tools dari GAMS</p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.collapse -->
                    </div>
                    <!-- /.card -->
                    <div class="card shadow">
                        <div class="card-header" id="accordion-heading-2-5">
                            <h5>
                                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-5"
                                    aria-expanded="false" aria-controls="accordion-collapse-2-5">Apakah GAMS Indonesia
                                    bisnis MLM?</button>
                            </h5>
                        </div>
                        <!-- /.card-header -->
                        <div id="accordion-collapse-2-5" class="collapse" aria-labelledby="accordion-heading-2-5"
                            data-target="#accordion-2">
                            <div class="card-body">
                                <p>Model bisnis kami bukan MLM, karena kami tidak ada sistem Binary seperti MLM kak.
                                    Model bisnis kami menggunakan Affiliate Marketing. Sehingga member bisa mendapatkan
                                    komisi baik dari personal sales maupun team sales.</p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.collapse -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.accordion-wrapper -->
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>