<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Ooops...</h1>
        <p class="lead">Laman sedang dalam perbaikan. Mohon maaf atas ketidaknyamanannya.</p>
    </div>
</div>